include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include caf *.css
recursive-include caf *.csv
recursive-include caf *.html
recursive-include caf *.ico
recursive-include caf *.js
recursive-include caf *.json
recursive-include caf *.md
recursive-include caf *.png
recursive-include caf *.py
recursive-include caf *.svg
recursive-include caf *.txt
recursive-exclude caf *.pyc